<!--
    Title: about.component.html
    Author: Phuong Tran
    Date: 05/05/2024
    Description: Loan App - Capstone Project.
-->

<!-- Great information about the Loan App! -->
<div fxLayout="row wrap">
  <div fxFlex style="width: 300px">
    <div fxLayout="column" style="font-size: 30px; line-height: 1.3; font-weight: 100; letter-spacing: 0.5px; text-indent: 50px; letter-spacing: 3px; color: #26325a">
      <p>
        The Loan App was created for people who want to comprehend how much they would need to
        earn in a month to meet the lender’s payment obligation. The answer is now available
        within a click of a button; it assists individuals in making future plans for a loan and monthly payments.
      </p>
    </div>
  </div>
</div>
