/*
    Title: styles.scss
    Author: Phuong Tran
    Date: 05/05/2024
    Description: Loan App - Capstone Project.
*/

@import './theme';

html, body {
  height: 100%;
  background-color: #3c3b3a !important;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



